<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ishopazure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ishopazure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ISHOpAzure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ISHOpAzure</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ISHOpDB" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVC_IShop.NewDBISHop.ISHOpDB, MVC_IShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityDb" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVC_IShop.Models.ApplicationContext, MVC_IShop" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IShopGoods" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShopDB.GoodContext, ShopDB" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ResourceId>/subscriptions/1f683254-ef79-48e1-99d2-3e8b1a79071e/resourceGroups/IshopAzure2/providers/Microsoft.Web/sites/ISHOpAzure</ResourceId>
    <ResourceGroup>IshopAzure2</ResourceGroup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityDb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ISHOpDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IShopGoods-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IShopGoods" />
  </ItemGroup>
</Project>